#login_div {
    display: grid;
    grid-template-rows: 50px 130px 50px;
    margin-left: 20px;

}

#login_form {
    display: grid;
    grid-template-columns: 65px auto;
    grid-template-rows: 25px 25px 40px;
    grid-row-gap: 15px;
    margin-right: 30px;
    margin-left: 30px;
}

#login_btn {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}