#login_bg {
    background-color: beige;
    display: grid;
    grid-template-rows: 15% 50% 35%;
}

#login_div {
    display: grid;
    grid-template-rows: 50px 130px 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: fit-content;
    background-color: #ECE7CA;
    border-radius: 20px;
    place-self: center;
    padding-top: 15px;

}

#login_title {
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#login_form {
    display: grid;
    grid-template-columns: 65px auto;
    grid-template-rows: 25px 25px 40px;
    grid-row-gap: 15px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 17px;
}

#name_label {
    font-family: Arial, Helvetica, sans-serif;
}

#email_label {
    font-family: Arial, Helvetica, sans-serif;
}

#login_btn {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

#logo_div {
    height: fit-content;
}

#logo {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

#links {
    height: fit-content;
    width: fit-content;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: blue;
}