#search_bg {
    background-color: beige;
    display: grid;
    grid-template-rows: 70px 225px 150px auto 50px 85px 100px;
    height: auto;

}

#filter_div {
    height: fit-content;
    display: grid;
    grid-template-rows: 50px 175px;
    background-color: #ECE7CA;
    margin-left: 20px;
    justify-self: center;
    border-radius: 22px;
}

#filter_title {
    height: fit-content;
    margin-left: 15px;
}

#search_form {
    height: fit-content;
    display: grid;
    grid-template-columns: 125px 200px;
    grid-template-rows: 25px 25px 25px 25px 25px;
    padding-right: 40px;
    grid-gap: 10px;
    margin-left: 35px;
}

#sort_div {
    display: grid;
    grid-template-rows: 35px 92px;
    justify-self: center;
    margin-top: 15px;
}

#sort_title {
    font-family: Arial, Helvetica, sans-serif;
}

#sort_form {
    display: grid;
    grid-template-columns: 100px 60px 90px 80px;
    grid-template-rows: 20px 20px 20px;
    grid-row-gap: 15px;
}

#sort_breed_label {
    grid-row-start: 1;
    grid-column-start: 1;
}

#sort_breed {
    grid-row-start: 1;
    grid-column-start: 2;
}

#sort_name_label {
    grid-row-start: 2;
    grid-column-start: 1;
}

#sort_name {
    grid-row-start: 2;
    grid-column-start: 2;
}

#sort_age_label {
    grid-row-start: 3;
    grid-column-start: 1;
}

#sort_age {
    grid-row-start: 3;
    grid-column-start: 2;
}

#asc_label {
    grid-row-start: 1;
    grid-column-start: 3;
}

#sort_asc {
    grid-row-start: 1;
    grid-column-start: 4;
}

#desc_label {
    grid-row-start: 2;
    grid-column-start: 3;
}

#sort_desc {
    grid-row-start: 2;
    grid-column-start: 4;
}

#sort_btn {
    grid-row-start: 3;
    grid-column-start: 4;
}

#display_dogs {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
}

#dog_list {
    display: grid;
    grid-template-rows: repeat(25, 150px);
    height: fit-content;
    justify-items: center;
}

#li_div {
    display: grid;
    grid-template-columns: 228px auto;
    grid-template-rows: 25px 25px 25px 25px 38px;
    
}

#li_div img{
    grid-row-start: 1;
    grid-row-end: 6;
    border-radius: 20px;
    justify-self: center;
}

#li_div p {
    font-family: Arial, Helvetica, sans-serif;
}

#li_btn {
    margin-right: 20px;
    margin-left: 20px;
    width: 135px;
}

#btn_ul {
    list-style: none;
    display: grid;
    grid-template-columns: 80px 80px;
    grid-gap: 20px;
    justify-content: end;
    margin-right: 20px;

}

#next_btn {
    height: fit-content;
}

#prev_btn {
    height: fit-content;
}

#match_div {
    place-self: center;
}

#match_btn {
    height: 45px;
    width:135px;
    margin-top: 18px;
}

label {
    font-family: Arial, Helvetica, sans-serif;

}

button {
     font-family: Arial, Helvetica, sans-serif;

}

input {
    font-family: Arial, Helvetica, sans-serif;

}

select {
    font-family: Arial, Helvetica, sans-serif;

}