#search_bg {
    background-color: beige;
    display: grid;
    grid-template-rows: 15% 20% 50% 15%;

}

#filter_div {
    height: fit-content;
}

#filter_title {
    height: fit-content;
}

#search_form {
    height: fit-content;
}

#next_btn {
    height: 50px;
}

#prev_btn {
    height: 50px;
}

#dog_list {
    height: 30px;
}